<div th:fragment="changePasswordModal">
    <div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form th:action="@{/auth/change-password}" method="post" th:object="${changePasswordDto}">
                    <div class="modal-header">
                        <h5 class="modal-title" id="changePasswordLabel">Đổi mật khẩu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
                    </div>
                    <div class="modal-body">
                        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
                        <div class="mb-3">
                            <input type="password" class="form-control" th:field="*{oldPassword}"
                                   placeholder="Vui lòng nhập mật khẩu cũ" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" th:field="*{newPassword}"
                                   placeholder="Mật khẩu mới" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" th:field="*{confirmPassword}"
                                   placeholder="Xác nhận mật khẩu mới" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-danger">Xác nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
